* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #EBEBEB;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    color: #EBEBEB;
    background-color: #7B1112;
    height: 10%;
    display: flex; 
    align-items: center; 
    justify-content: stretch;
}

header>* {margin: 1%;}

#logo {height: 85%;}

.header_login {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 1%;
}

nav {
    padding-left: 1%;
    box-sizing: border-box;
    color: #EBEBEB;
    background-color: #7B1112;
    height: 10%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100%;
    text-transform: uppercase;
    z-index: 5;
}

nav>h1 {padding: 1%;}

div.dropdown {
    flex-grow: 1;
    height: 100%;
    width: 1%;
    text-align: center;
    position: relative;
}

#wearehere {
    background-color: #861112;
    flex-grow: 1;
    position: relative;
    height: 100%;
    width: 1%;
    text-align: center;
}

div.dropdown>p, nav>div#wearehere>p {
    text-decoration: none;
    color: #EBEBEB;
    position: relative;
    top: 43%;
}

.spanner {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

div.dropdown:hover {background-color: #6e1517;}

.dropdown_content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #ebebebec;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    z-index: 1;
}

.dropdown_content a {
    font-weight: 400;
    text-decoration: none;
    color: #6e1517;
    display: block;
    padding: 2% 0 1.5%;
    transition: 0.25s;
}

.dropdown_content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown_content {display: block;}

img.header_img {width: 100%;}

div.announcements>div, div.sidebar>div, div.solo>div {
    background-color: #C8C8C8;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
}

div.announcements {
    width: 65%;
    float: left;
    margin-left: 1.5%;
}

div.sidebar {
    width: 30%;
    float: right;
    margin-right: 1.5%;
}

div.solo {
    width: 100%;
    padding: 0 30px;
}

div.solo>div>h1 {
    font-size: 38px;
    padding-bottom: 5px;
}

div h1 {margin-bottom: 8px;}

div.announcements>h1 {
    font-size: 95px;
    padding-top: 30px;
}

div.solo>h1 {
    font-size: 55px;
    padding-top: 30px;
}

div.solo>h3 {
    font-size: 15px;
    font-weight: 400;
}

div.solo>div>p {
    font-size: 20px;
}

div.solo>div>ol, div.solo>div>ul {
    font-size: 20px;
    position: relative;
    left: 60px;
    padding-right: 60px;
}

ul>ul {
    list-style-type: none;
    position: relative;
    left: 30px;
    padding-right: 30px;
}

div.solo>p {
    padding: 10px 0 20px;
}