* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #EBEBEB;
}

nav {
    background-color: #7B1112;
    text-align: left;
    padding: 20px;
    width: 100%;
    position: fixed;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav ul li.logo {
    flex: 1;
}

nav ul li.nav_input {
    padding-left: 5px;
    padding-right: 25px;
}

header{
    background-color: #7B1112;
    height: 10%; 
    display: flex; 
    align-items: center; 
    justify-content: stretch;
}

header>*{
    margin: 1%;
}

#logo {
    height: 90%;
}

.header_login{
    display: flex;
    flex-grow: 1;
    float: right;
    justify-content: flex-end;
    padding: 1%;
}

img.header_img{
    width: 100%;
}

div.announcements>div, div.sidebar>div{
    background-color: #C8C8C8;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
}

div.announcements {
    width: 70%;
    float: left;
    margin-left: 1.5%;
}

div.sidebar {
    width: 25%;
    float: right;
    margin-right: 1.5%;
}

div h1 {
    margin-bottom: 8px;
}